:root {
  --pale-blue: #e0e8ff;
  --bright-blue: #3829e0;
  --very-pale-blue: #f5f7ff;
  --desaturated-blue: #7280a7;
  --dark-blue: #1f2f56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--pale-blue);
}

p {
  color: var(--desaturated-blue);
}

.card-container {
  width: 90%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.card-image img {
  width: 100%;
}

.card-description-container {
  display: grid;
  place-items: center;
  padding: 20px;
}
.card-text {
  text-align: center;
}

.card-text h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--dark-blue);
}

.plan {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 20px 0px;
  padding: 5%;
  border-radius: 10px;
  background-color: var(--very-pale-blue);
}

.plan img {
  height: 50px;
  margin-right: 20px;
}
.plan p {
  display: flex;
  flex-direction: column;
}

.plan p span:nth-child(1) {
  color: var(--dark-blue);
}

.plan a {
  color: var(--bright-blue);
}

.card-buttons {
  width: 100%;
  height: auto;
}

.card-buttons button {
  width: 100%;
  height: 50px;
  border: none;
}

button.primary-button {
  border-radius: 10px;
  color: var(--very-pale-blue);
  background-color: var(--bright-blue);
}

button.secondary-button {
  color: var(--desaturated-blue);
  background: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
  .card-container {
    width: 335px;
  }
}
